.navbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(135, 252, 151);
    width: 100%;
    height: 70px;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    margin: auto 0;
}
.container-fluid{
    display: flex;
    flex-direction: row;
    
}
.nav-item{
    margin: auto auto;
    padding: 14px;
    list-style: none;
}
.navbar-brand{
    margin: auto 18px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(27, 15, 15);
    padding: 14px;
    font-weight: 700;
    font-size: 2rem;
}
.nav-link{
    cursor: pointer;
    margin: auto 0;
    text-decoration: none;
    color: rgb(27, 15, 15);
    font-size: 1.3rem;
    font-weight: 600;
}
.hamburger{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    margin: auto auto;
    position: absolute;
    right: 14px;
    padding: 14px;
    cursor: pointer;
    z-index: 1;
}
.ham-line{
    background-color: rgb(27, 15, 15);
    width: 100%;
    height: 7px;
    margin: 2px 0;
    border-radius: 6px;
}
.mode{
    height: 40px;
    width: 110px;
    border-radius: 10px;
    background-color: rgb(27, 15, 15);
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 15px 10px;
    cursor: pointer;
}
.mode-container{
    height: 70px;
    margin: auto 0;
    position: absolute;
    right: 100px;
}