.slidebar {
    height: 100vh;
    position: absolute;
    width: 450px;
    background-color: rgb(135, 252, 151);
    right: 0px;
    top: 0;
    display: flex;
}

.slidebar-menu {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.slidebar-menu-item {
    list-style: none;
    margin: 34px auto;
    padding: 0px;
}

.item-link {
    text-decoration: none;
    color: rgb(27, 15, 15);
    font-size: 1.5rem;
    font-weight: 600;
}